@use "./variables.scss" as *;

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: $secondary-color;
    color: $primary-color;
}

.header {
    background-color: $primary-color;
    color: white;
    text-align: left;
    padding: 2rem;
}

footer {
    background-color: $primary-color;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}